@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Admin panel</h1>
    <h1>Content</h1>
    <h3><a asp-controller="Admin" asp-action="SignUp">Add user</a></h3>
    <h3><a asp-controller="Admin" asp-action="Category">Add category</a></h3>
</div>